torch
torchvision
torchaudio
torchtext
datasets
jupyterlab
numpy
scipy
pandas
cloudpickle
scikit-image
matplotlib
ipython
ipykernel
ipywidgets
cython
tqdm
gdown
xgboost
pillow
seaborn
sqlalchemy
spacy
nltk
boto3
tabulate
future
gradient
jsonify
opencv-python
sentence-transformers
wandb
awscli
jupyterlab-snippets
tornado